* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

button {
  background-color: rgb(240, 228, 228);
  color: black;
  border: white solid 0.01px;
  height: 10rem;
  width: 10rem;
  font-size: 2rem;
}
.operator {
  color: white;
  background-color: rgb(212, 139, 2);
}
